body {
    height: 100%;
    background-color: #e6ffff;
    margin: 0;
    text-align: center;
}

h1 {
    padding-top: 10%;
    margin-top: 0;
    color: white;
    text-shadow: 0 0 0.2em rgb(0, 0, 0);
}

h2 {
    text-align: center;
    margin: 10px;
}

img {
    border-radius: 90%;
    height: 200px;
    width: 200px;
    margin: 0 60px;
}


button {
    padding: 10px 60px;
    margin: 10px;
    background-color: white;
    border: 2px solid gray;
    border-radius: 8px;
    transition-duration: 0.4;
    font-size: larger;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: gray;
    color: white;
}

hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    width: 40%;
}
hr:after {
    background: #e6ffff;
    content: '§';
    padding: 0 4px;
    position: relative;
    top: -13px;
}

a {
    text-decoration: none;
    margin: 5px 10px;
}

p {
    font-size: 24px;
}

u {
    font-size: 25px;
}

i {
font-size: 2rem;
color: black;
}

footer {
    margin-bottom: 30px;
    text-align: center;
}

.text0 {
    display: flex;
    justify-content: center;
}

.text1 {
    text-align: left;

}



#top1 {
    text-align: center;
    font-size: 30px;
    margin-top: 0;
}

/* Image */

.firstBox {
    display: flex;
    text-align: center;
    justify-content: center;
}

.secondBox {
    display: block;
    text-align: center;
    justify-content: center;
    margin: 10px 0 ;
}

.mitzi {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);

}
.shane {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);

}

.mitzi:hover {
    opacity: 0.8;
}

.shane:hover {
    opacity: 0.8;
}


/*contect*/
.contect {
    /* flex: 1 0 auto; */
    /* background: url("pictures/backgroundImage.jpg");
    background: ;
    background-repeat: no-repeat;
    background-size: 100% 100%; */
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url("pictures/backgroundImage.jpg") no-repeat 0% 20%/ cover;
}



@media only screen and (max-width: 450px) {
    #top1 {
        font-size: 25px;
    }
    h1 {
        padding: 16px;
    }
    h2 {
        font-size: 35px;
    }
    /* img {
        border-radius: 90%;
        height: 100px;
        width: 100px;
        margin: 0 13px;
    } */

    .mitzi {
        border-radius: 90%;
        height: 120px;
        width: 120px;
        margin: 0 13px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);

    }
    .shane {
        border-radius: 90%;
        height: 120px;
        width: 120px;
        margin: 0 13px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);

    }
    .span1 {
        font-size: 16px;
    }
    .text1 {
        font-size: 20px;
        line-height: 1.4rem;
        margin: 10px 25px;

    }
    .h2E {
        font-size: 50px;
    }
    .text0 {
        font-size: 16px;
        line-height: 1.6rem;
        margin-top: 10px;
    }
    .h2C {
        font-size: 25px;
    }
    .btnC {
        padding: 5px 30px;
        margin-bottom: 30px;
        background-color: white;
        border: 2px solid gray;
        border-radius: 8px;
        transition-duration: 0.4;
    }
    button {
        padding: 5px 30px;
        margin: 10px;
        background-color: white;
        border: 2px solid gray;
        border-radius: 8px;
        transition-duration: 0.4;
        /* font-size: larger; */
    }
    a {
        text-decoration: none;
        margin: 4px 10px;
    }
}